img {
    height: 200px;
    width: 200px;
}

.color-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

#red {
    color: red;
}

#blue {
    color: blue;
}

#green {
    color: green;
}

#yellow {
    color: yellow;
}

#orange {
    color: orange;
}